.nav {
  @include medium {
    position: fixed;
    opacity: 0;
    .nav__list {
      transform: translateX(-100%);
    }
  }
}

.nav-btn {
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  background: url(../img/menu.svg) center center no-repeat;
  background-size: cover;

  display: none;
  cursor: pointer;
  @include medium {
    display: inline-block;
  }
}
.nav-btn-label-wraper {
  user-select: none;
}
.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 18px;
  line-height: 1.27;
  color: rgba(31, 21, 52, 0.5);
  text-decoration: none;
  &:hover,
  :active {
    color: #1f1534;
  }
}
.nav-btm-checkbox {
  @include visualle-hidden;
}

.nav-btm-checkbox:checked + .nav {
  @include medium {
    left: 0;
    top: 0;
    z-index: 9;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: opacity 0.1s ease-in-out;

    .nav__list {
      width: 270px;
      height: 100%;
      background: #fff;

      flex-direction: column;
      padding: 20px 20px;
      transition: transform 0.3s ease-in-out;
      transform: translateX(0);
    }
    .nav__item:not(:last-child) {
      margin-right: 0;
    }
    .nav__link {
      font-size: 30px;
      display: block;
      padding: 15px 0;
    }
  }
}
